html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Prompt')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#content
      div#wrapper-outer
        div#wrapper-inner
          h3 Method - 
            = type
          h4= message
