
for (var x = 0; x < users.length; x++)
     li #{users[x]._id} #{users[x].namamemo} #{users[x].description}
     form(action='/delete?namamemo=#{users[x].namamemo}' ,method='POST')
       button(type='submit') delete
